/* Para Desktop Grande */
@media screen and (min-width: 1382px) {
    .textos {
        padding-top: 500px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .titulo {
        color: white;
        font-weight: bold;
        margin: 0;
        font-size: 4em;
    }

    ul li a {
        color: white;
        font-size: 20px;
    }

    .logo {
        float: left;
        height: 60px;
        width: 150px;
        margin-left: 80px;
        margin-right: 0px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        transition: 0.5s;
    }

    .login {
        font-size: 19px;
        height: 35px;
        width: 90px;
    }

    .logosobre {
        height: 260px;
    }

    .imagem {
        height: 300px;
        width: 500px;
    }

    .textosobre {
        margin: 0 0 0 0;
        text-align: justify;
        color: #ffffff;
        width: 90%;
        margin: 0 100px;
        font-size: 1.4rem;
    }

    .tituloSobre {
        margin: 0 100px;
        font-size: 1.5rem;
    }

    .divisor {
        position: absolute;
        background-color: #EE1E46;
        width: 140px;
        height: 25px;
        bottom: -12.5px;
        border-radius: 10px;
        left: calc(50% - 70px);
        z-index: 2;
    }

    .icons {
        padding-top: 30px;
        width: 230px;
        height: 230px;
    }

    .textoservi {
        font-size: 1.4rem;
        color: #ffffff;
        width: 100%;
        text-align: justify;
    }
    .divfundo {
        height: 600px;
        width: 100%;
        background-color: #1E1212;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      /*
      TESTE CSS THAIS CONTATO
      .contato-box {
        background-image: url(../img/fundo2.png);
        background-repeat: no-repeat;
        background-size: cover;
      }

      .contato-group {
        background-color: #F78097;
        color: white;
      }

      .contato-box div {
        color: white;
      }

      .contato-text{
        color: white;
        background-color: #EE1E46;
        text-align: center;
        margin-left: 6%;
        margin-right: 6%;
        padding: 8px 5px;
        font-size: 22px;
      }
      */
}

@media screen and (max-width: 820px) {
    .superior {
        display: grid;
        margin: auto;
        margin-top: 60px;
    }

    .textosobre {
        margin: 0 0 0 0;
        text-align: justify;
        padding-bottom: 50px;
        color: #ffffff;
    }

    .imagem {
        height: 300px;
        width: 300px;
        margin: 0 auto;
    }

    .fundopreto {
        border-top: 3px solid #EE1E46;
        border-bottom: 3px solid #EE1E46;
        min-height: 70vh;
        width: 90vw;
        margin: 110px auto 110px auto;
        background-color: #000000b2;
        z-index: 1;
        display: grid;
        justify-content: space-around;
    }
    .txtdownload {
        font-weight: bold;
        margin: 0;
        font-size: 1.9em;
        color: #ffffff;
      }
    .separador {
        width: 90%;
        margin: 0 auto;
    }
    .txtred {
        letter-spacing: .4rem;
        color: #EE1E46;
        font-size: 0.8em;
      }
    .txtslack {
        color: #ffffff;
        margin: 20px 0 0 0;
        font-size: 0.8em;
      }
      .textossobre {
        padding-top: 50px;
        margin: 0;
        display: grid;
        width: 85%;
        margin: auto;
      }
      .esp {
        margin-right: 0px;
      }

      .divcentraliza {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .direitacont {
        width: 94%;
        margin: auto;
      }
      .esquerdacont {
        width: 94%;
        margin: auto;
        margin-top: 40px;
      }
      .centerfa {
        margin: 15px 0 0 0;
        display: flex;
        justify-content: space-between;
        width: 94%;
        margin: auto;
      }
      .txtredes {
        margin-bottom: 15px;
      }
      .copytxt {
        padding-top: 15px;
      }
      .dir {
        margin-right: 0px;
        margin-left: 10px;
      }
      .cont div {
        width: 50%;
      }
}