html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Kulim Park';
  scroll-behavior: smooth;
  text-decoration: none;
  background-color: black;
}

.destaque {
  height: auto;
  border-bottom: 3px solid #EE1E46;
}

.cabecalho {
  background: #000000;
  width: 100%;
  height: 50px;
  position: fixed;
  display: block;
  z-index: 3;
  /* transition: 0.3s; */
  /* transform: translateY(-100%) ; */
}

.logo {
  float: left;
  height: 60px;
  width: 150px;
  margin-left: 80px;
  margin-right: 0px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  transition: 0.5s;
}

ul li {
  display: inline;
  margin-right: 50px;
  text-transform: uppercase;
  padding-bottom: 13px;
}

ul li a {
  color: white;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

ul li a:hover {
  text-shadow: 3px 1px 1px rgb(0, 0, 0);
  transition: 0.1s;
  color: #EE1E46;
}

.box {
  max-width: 95%;
  text-align: center;
}

.login {
  font-family: 'Kulim Park';
  border: 1;
  float: right;
  border-color: #ffffff;
  background-color: #ffffff00;
  color: #ffffff;
  font-size: 16px;
  height: 35px;
  margin-top: -5px;
  width: 80px;
  cursor: pointer;
  transition: 0.7s;
}

.login:hover {
  transition: ease-in-out 0.5s;
  background-color: #EE1E46;
}

#home {
  background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.homeslide {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  float: right;
}

.sobreslide {
  position: relative;
  min-height: 100%;
  width: 100%;
  float: right;
}


.servicosslide {
  position: relative;
  min-height: 100%;
  width: 100%;
  float: right;
}

#servicos {
  background-image: url("../img/fundo2.png");
  background-repeat: no-repeat;
  background-size: cover;
}


.contatoslide {
  position: relative;
  min-height: 100%;
  width: 100%;
  float: right;
}

.downloadslide {
  position: relative;
  min-height: 100%;
  width: 100%;
  float: right;
}

.titulo {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 4em;
}

.subtitulo {
  color: white;
  margin: 5px 0 0 0;
  font-size: 1.2em;
}

.red {
  color: #EE1E46;
  font-weight: bold;
}

.textos {
  padding-top: 400px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

.btninfo {
  background-color: #ffffff00;
  color: #EE1E46;
  border: 1;
  border-color: #EE1E46;
  font-size: 16px;
  padding: 0px 20px 0px 20px;
  height: 40px;
  width: 150px;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.btninfo:hover {
  transition: ease-in-out 0.5s;
  background-color: #EE1E46;
  color: #ffffff;
}

.divisor {
  position: absolute;
  background-color: #EE1E46;
  width: 200px;
  height: 30px;
  bottom: -10px;
  border-radius: 10px;
  left: calc(50% - 60px);
  z-index: 2;
}

.superior {
  justify-content: space-evenly;
  display: flex;
  margin-top: 100px;
}

.logosobre {
  height: 260px;
}

.gelis {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imagem {
  height: 300px;
  width: 500px;
}

.txt {
  color: #EE1E46;
  margin: 0 0 0 10px;
  font-size: 1.25em;
}

.tituloSobre {
  color: #EE1E46;
  margin: 0;
  font-size: 1.25em;
}

.esp {
  margin-right: 50px;
}

.textosobre {
  margin: 0 0 0 0;
  text-align: justify;
  color: #ffffff;
}

.textossobre {
  padding-top: 50px;
  margin: 0;
  display: flex;
  width: 85%;
  margin: auto;
}

